html,
body {
	background: linear-gradient(rgb(103, 123, 153), rgb(48, 52, 71));
	color: white;
}

.translator {
	&__btn {
		width: 50px;
	}

	&__input {
		&--label {
			// Input box labels disappear on small screens
			@media only screen and (max-width: 575.98px) {
				display: none;
			}
		}

		&__btns {
			&_btn {
				width: 40px;
			}
		}
	}
}

#translator__input__box--eng,
#translator__input__box--mor {
	// Re-applies border radius to left side of text-areas when labels disappear
	@media only screen and (max-width: 575.98px) {
		border-top-left-radius: 0.3rem;
		border-bottom-left-radius: 0.3rem;
	}
}
